.contenedor { 
    display: flex;
    width: 70vw;
    height: 12vh;
    background-color: orange;
}

.logo {
    display: flex;
    height: 100%;
    width: 60vw;
    margin-left: 60px;
    align-items: center;
}

.image {
    height: 100px;
    width: 200px;
    &:hover {
        animation: rotate 1s forwards;
    }
}

.subcontenedor {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.search {
    display: flex;
    height: 60%;
    align-items: center;
    justify-content: center;
}

.form {
    background: white;
    display: flex;
    width: 500px;
    height: 50px;
}

.input {
    border: none;
    color: black;
    width: 450px;
    padding: 0;
    background-color: inherit;
}

.button {
    background-color: white;
    align-self: center;
    border: none;
    height: 30px;
    cursor: pointer;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.subsection{
    width: 150px;
    height: 30px;
    background-color: white;
    margin: 0;
    font-size: x-large;
    border-radius: 100px;
    text-align: center;
    cursor: pointer;
&:hover {
    background-color: orangered;
    transition: 0.5s;
}
}

@keyframes rotate {
    from {
        transform: rotate(0);
        transform-origin: bottom left;
    }
    to {
        transform: rotate(-5deg);
        transform-origin: bottom left;
    }
  }
